body {
    margin: 0;
    padding: 0;
    background-image: url("/images/Background.jfif");
    background-repeat: no-repeat;
    background-size: cover;

    .home {
        &_header {
            background-color: #091242;
            padding-block: 0.5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;

            &_inner {
                padding-inline: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_right {
                    color: #fff;
                    display: flex;
                    align-items: baseline;

                    h3 {
                        font-weight: normal;
                    }

                    i {
                        font-size: 1.4rem;
                        color: #ffbe34;
                        margin-inline-end: 0.4rem;
                    }
                }

                &_left {

                    h6 {
                        margin: 0 0 0 0;
                        padding: 0;
                        color: #fff;
                    }
                    a{
                        text-decoration: none;
                    }

                    display: flex;
                    justify-content: space-between;

                    i {
                        border: 1px solid;
                        padding: 0.2rem;
                        font-weight: bold;
                        font-size: 0.9rem;
                        color: #ffbe34;
                        cursor: pointer;
                    }

                    &_switch {

                        .fa-bars {
                            &.hide {
                                display: none;
                            }

                        }

                        .fa-x {
                            display: none;

                            &.show {
                                display: block;
                            }
                        }

                    }

                    &_button {
                        .fa {
                            &-chevron-up {
                                &.de-active {
                                    display: none;
                                }


                            }

                            &-chevron-down {
                                display: none;

                                &.active {
                                    display: block;
                                }

                            }
                        }


                    }

                    &_inner {
                        display: none;
                        z-index: 1;
                        position: absolute;
                        right: 0;
                        left: 0;
                        top: 4rem;
                        background-color: #091242;
                        padding: 1rem;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        gap: 2rem;

                        &_clock_inner,
                        &_envelope_inner,
                        &_phone_inner {
                            h6 {
                                font-weight: normal;

                            }

                            h6:nth-child(1) {
                                margin-block-start: 0.5rem;
                            }

                        }

                        &.active {

                            i {
                                border: 1px solid #010e5b;
                                color: #ffbe34;
                                padding: 1rem;
                                border-radius: 2rem;
                                font-size: 61.8%;
                            }

                            display: block;
                            display: flex;

                        }
                    }
                }
            }
        }


        &_hero {
            margin-top: 4.65rem;
            padding-inline: 3.3rem;
            display: none;

            &.show {
                display: block;

            }

            background-color: #000000;

            opacity: 0.6;

            h6 {
                font-size: 1.4rem;
                margin: 0;
                padding: 0;
            }


            &_inner {

                &_right {
                    display: none;
                }

                &_left {
                    ul {
                        margin: 0;
                        padding: 0;
                    }

                    li {
                        &.active {
                            color: red;
                        }

                        margin: 0;
                        padding: 0;
                        color: #ffffff;
                        font-size: 1.4rem;
                        font-weight: normal;
                        list-style: none;
                        margin-block-end: 1rem;
                        cursor: pointer;
                        font-family: 'Franklin Gothic Medium',
                        'Arial Narrow',
                        Arial,
                        sans-serif;
                    }

                    li:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

        @media screen and (min-width:777px) {
            &_header {
                position: relative;
                left: 0;
                right: 0;

                &_inner {
                    align-items: center;
                    padding-inline: 2rem;
                    gap: 2rem;

                    &_left {
                        border-left: 1px solid #010e5b;

                        &_inner {
                            display: flex;

                            align-items: center;
                            justify-content: center;
                            z-index: 1;
                            position: relative;
                            top: 0;
                            padding: 1rem;
                            text-align: center;

                            align-items: center;
                            gap: 2rem;

                            i {
                                border: 1px solid #010e5b;
                                color: #ffbe34;
                                padding: 1rem;
                                border-radius: 2rem;
                                font-size: 61.8%;
                            }

                            &_clock_inner,
                            &_envelope_inner,
                            &_phone_inner {
                                h6 {
                                    font-weight: normal;

                                }

                                h6:nth-child(1) {
                                    margin-block-start: 0.5rem;
                                }

                            }
                        }

                        &_switch {
                            display: none;
                        }

                        &_button {
                            display: none
                        }
                    }
                }
            }

            &_hero {
                margin-top: 0rem;
                padding-inline: 3.3rem;
                display: block;


                &_inner {
                    padding-block: 1rem;

                    &_left {

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 2rem;
                        }

                        i {
                            font-size: 0.5rem;
                        }

                        h6 {
                            color: #ffffff;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: small;
                            font-weight: normal;
                            margin: 0 0.2rem 0rem 0rem;
                            padding: 0;
                        }

                        li {
                            margin: 0;
                            padding: 0;
                            border-right: 0.00001px solid white;
                            list-style: none;
                            padding-inline-end: 0.9rem;
                        }

                        li:nth-child(3) {
                            display: flex;
                            align-items: center;
                            gap: 0.2rem;
                        }

                    }
                }
            }
        }

        @media screen and (min-width:992px) {
            &_header {
                position: relative;
                left: 0;
                right: 0;

                &_inner {
                    align-items: center;
                    padding-inline: 2rem;
                    gap: 2rem;

                    &_left {
                        border: none;

                        &_inner {
                            position: relative;
                            top: 0;
                            padding: 0;
                            text-align: left;
                            align-items: center;
                            gap: 2rem;

                            i {
                                border: 1px solid #010e5b;
                                color: #ffbe34;
                                padding: 1rem;
                                border-radius: 2rem;
                                font-size: 61.8%;
                            }

                            &_clock_inner,
                            &_envelope_inner,
                            &_phone_inner {
                                display: flex;
                                align-items: center;

                                h6 {
                                    margin-inline-start: 0.5rem;
                                    font-weight: normal;
                                }

                                h6:nth-child(1) {
                                    margin-block-start: 0;
                                }
                            }
                        }
                    }
                }
            }

            &_hero {

                &_inner {
                    display: flex;
                    align-items: center;
                    padding-block: 0;
                    justify-content: space-between;

                    &_right {
                        display: block;

                        &_button {
                            button {
                                padding: 0.8rem;
                            }
                        }

                        &_inner {
                            display: none;

                        }

                        i {
                            display: block;
                            font-weight: 900;
                            color: #ffffff;
                            font-size: 1.2rem;

                        }
                    }

                    &_left {

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 2rem;
                        }

                        i {
                            font-size: 0.5rem;
                        }

                        h6 {
                            color: #ffffff;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 1.2rem;
                            font-weight: normal;
                            margin: 0 0.2rem 0rem 0rem;
                            padding: 0;
                        }

                        li {
                            margin: 0;
                            padding: 0;
                            border-right: 0.00001px solid white;
                            list-style: none;
                            padding-inline-end: 0.9rem;
                        }

                        li:nth-child(3) {
                            display: flex;
                            align-items: center;
                            gap: 0.2rem;
                        }

                    }
                }
            }
        }

        // @media screen and (min-width:1030px) {
        //     &_header {
        //         padding-block: 2rem;

        //         &_inner {
        //             display: grid;
        //             grid-template-columns: 0.5fr 1fr;
        //             justify-content: center;
        //             align-items: center;

        //             &_right {
        //                 color: #fff;
        //                 // width: 100%;
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: center;

        //                 i {
        //                     font-size: 1.4rem;
        //                     color: #ffbe34;
        //                     margin-inline-end: 0.4rem;
        //                 }
        //             }

        //             &_left {

        //                 &_inner {}
        //             }
        //         }
        //     }


        //     &_hero {
        //         padding-inline: 3.3rem;



        //         background-color: #000000;

        //         opacity: 0.6;

        //         i {
        //             color: #ffffff;
        //             font-weight: bold;
        //             font-size: 1.4rem;
        //         }


        //         &.enhance {
        //             -webkit-backdrop-filter: blur(10px);
        //             backdrop-filter: blur(10px);

        //         }


        //         &_inner {
        //             width: 100%;
        //             // background-color: #151d4c;
        //             display: flex;
        //             justify-content: space-between;
        //             align-items: center;

        //             ul {
        //                 display: flex;
        //                 justify-content: space-between;
        //                 align-items: center;
        //                 gap: 1rem;

        //                 li {
        //                     list-style: none;
        //                     cursor: pointer;
        //                     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        //                 }
        //             }

        //             &_right {
        //                 display: flex;
        //                 gap: 2rem;
        //                 align-items: center;

        //                 &_button {

        //                     button {
        //                         height: 100%;
        //                         margin: 0;
        //                         padding: 1rem;
        //                         border-radius: 0;
        //                         border: none;
        //                     }
        //                 }
        //             }


        //         }
        //     }
        // }
    }
}