body {
    margin: 0;
    padding: 0;
    background-image: url("/images/Background.jfif");
    background-repeat: no-repeat;
    background-size: cover;

    .home {
        &_header {
            width: 100%;
            background-color: #091242;
            padding-block: 0.5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;

            &_inner {

                padding-inline: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_right {
                    color: #fff;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 1.4rem;
                        color: #ffbe34;
                        margin-inline-end: 0.4rem;
                    }
                }

                &_left {

                    h6 {
                        margin: 0 0 0 0.4rem;
                        padding: 0;
                        text-align: left;
                        color: #fff;
                    }

                    &_switch {

                        i {
                            border: 1px solid;
                            padding: 0.5rem;
                            font-weight: bold;
                            font-size: 1.4rem;
                            color: #ffbe34;
                            cursor: pointer;
                        }

                        .fa-bars {
                            &.hide {
                                display: none;
                            }

                        }

                        .fa-x {
                            display: none;

                            &.show {
                                display: block;
                            }
                        }

                    }

                    &_inner {
                        display: none;
                    }
                }
            }
        }


        &_hero {
            margin-top: 4.65rem;
            padding-inline: 3.3rem;
            display: none;

            &.show {
                display: block;

            }

            background-color: #000000;

            opacity: 0.6;

            h6 {
                font-size: 1.4rem;
                margin: 0;
                padding: 0;
            }


            &_inner {


                padding-block: 0.5rem;

                ul {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }

                &_right {
                    display: none;

                }

                &_left {
                    i {
                        font-size: 1rem;
                    }

                    li {
                        color: #ffffff;
                        font-size: 1.4rem;
                        font-weight: 100;
                        list-style: none;
                        // padding-inline-end: 1.5rem;
                        cursor: pointer;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }

                    li:nth-child(3) {
                        // display: flex;
                        // align-items: center;
                        // gap: 0.2rem;
                    }
                }
            }
        }

        @media screen and (min-width:777px) {
            &_header {
                padding-block: 0.75rem;
                position: relative;

                &_inner {


                    &_right {}

                    &_left {
                        i {
                            border: 1px solid #ffbe34;
                            padding: 1rem;
                            border-radius: 2rem;
                            font-size: 1.3rem;
                        }

                        &_switch {
                            display: none;
                        }

                        &_inner {
                            display: flex;
                            gap: 2rem;

                            &_clock {
                                &_inner {

                                    &_text {
                                        display: none;
                                    }

                                }
                            }

                            &_envelope {
                                &_inner {

                                    &_text {
                                        display: none;
                                    }
                                }
                            }

                            &_phone {
                                &_inner {


                                    &_text {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &_hero {
                margin-top: 0rem;
                padding-inline: 3.3rem;
                display: block;
                background-color: #000000;

                opacity: 0.6;

                h6 {
                    font-size: 1.4rem;
                    margin: 0;
                    padding: 0;
                }


                &_inner {


                    padding-block: 0.5rem;

                    ul {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }

                    &_right {
                        display: none;

                    }

                    &_left {

                        i {
                            font-size: 0.5rem;
                        }

                        ul {
                            display: flex;
                            gap: 2rem;

                        }

                        h6 {
                            color: #ffffff;
                            font-weight: bold;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: small;
                            font-weight: 100;
                            margin: 0;
                            padding: 0;
                        }

                        li {
                            border-right: 0.00001px solid white;
                            padding-inline-end: 1.5rem;
                            font-size: medium;
                            font-weight: 100;
                            color: #ffffff;
                            font-size: 1.4rem;
                            font-weight: 100;
                            list-style: none;
                            cursor: pointer;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                        li:nth-child(3) {
                            display: flex;
                            align-items: center;
                            gap: 0.2rem;
                        }

                    }
                }
            }
        }
        @media screen and (min-width:992px) {
            &_header {
                padding-block: 0.75rem;
                position: relative;

                &_inner {


                    &_right {}

                    &_left {
                        i {
                            border: 1px solid #ffbe34;
                            padding: 1rem;
                            border-radius: 2rem;
                            font-size: 1.3rem;
                        }

                        &_switch {
                            display: none;
                        }

                        &_inner {
                            display: flex;
                            gap: 2rem;

                            &_clock {
                                &_inner {

                                    &_text {
                                        display: none;
                                    }

                                }
                            }

                            &_envelope {
                                &_inner {

                                    &_text {
                                        display: none;
                                    }
                                }
                            }

                            &_phone {
                                &_inner {


                                    &_text {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &_hero {
                margin-top: 0rem;
                padding-inline: 3.3rem;
                display: block;
                background-color: #000000;

                opacity: 0.6;

                h6 {
                    font-size: 1.4rem;
                    margin: 0;
                    padding: 0;
                }


                &_inner {


                    padding-block: 0.5rem;

                    ul {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }

                    &_right {
                        display: none;

                    }
                 

                    &_left {

                     

                        ul {
                            display: flex;
                            gap: 2rem;

                        }

                        h6 {
                            color: #ffffff;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: small;
                            font-weight: 100;
                            margin: 0;
                            padding: 0;
                        }

                        li {
                            i {
                                font-size: 0.5rem;
                            }
                            border-right: 0.00001px solid white;
                            padding-inline-end: 1.5rem;
                            color: #ffffff;
                            font-size: 1.4rem;
                            font-weight: 100;
                            list-style: none;
                            cursor: pointer;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                        
                 

                    }
                }
            }
        }

        @media screen and (min-width:1030px) {
            &_header {
                padding-block: 2rem;

                &_inner {
                    display: grid;
                    grid-template-columns: 0.5fr 1fr;
                    justify-content: center;
                    align-items: center;

                    &_right {
                        color: #fff;
                        // width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            font-size: 1.4rem;
                            color: #ffbe34;
                            margin-inline-end: 0.4rem;
                        }
                    }

                    &_left {

                        &_inner {
                            &_clock {
                                &_inner {
                                    display: flex;
                                    align-items: center;

                                    &_text {
                                        display: block;
                                    }

                                }
                            }

                            &_envelope {
                                &_inner {
                                    display: flex;
                                    align-items: center;

                                    &_text {
                                        display: block;
                                    }

                                    h6 {
                                        margin: 0 0 0 0.4rem;
                                        padding: 0;
                                        text-align: left;
                                    }
                                }
                            }

                            &_phone {
                                &_inner {
                                    display: flex;
                                    align-items: center;

                                    &_text {
                                        display: block;
                                    }

                                    h6 {
                                        margin: 0 0 0 0.4rem;
                                        padding: 0;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            &_hero {
                padding-inline: 3.3rem;



                background-color: #000000;

                opacity: 0.6;

                i {
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 1.4rem;
                }


                &.enhance {
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);

                }


                &_inner {
                    width: 100%;
                    // background-color: #151d4c;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;

                        li {
                            list-style: none;
                            cursor: pointer;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                    }

                    &_right {
                        display: flex;
                        gap: 2rem;
                        align-items: center;

                        &_button {

                            button {
                                height: 100%;
                                margin: 0;
                                padding: 1rem;
                                border-radius: 0;
                                border: none;
                            }
                        }
                    }

                
                }
            }
        }
    }
}