body {
  margin: 0;
  padding: 0;
  background-image: url("/images/Background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
body .home_header {
  width: 100%;
  background-color: #091242;
  padding-block: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
body .home_header_inner {
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .home_header_inner_right {
  color: #fff;
  display: flex;
  align-items: center;
}
body .home_header_inner_right i {
  font-size: 1.4rem;
  color: #ffbe34;
  margin-inline-end: 0.4rem;
}
body .home_header_inner_left h6 {
  margin: 0 0 0 0.4rem;
  padding: 0;
  text-align: left;
  color: #fff;
}
body .home_header_inner_left_switch i {
  border: 1px solid;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffbe34;
  cursor: pointer;
}
body .home_header_inner_left_switch .fa-bars.hide {
  display: none;
}
body .home_header_inner_left_switch .fa-x {
  display: none;
}
body .home_header_inner_left_switch .fa-x.show {
  display: block;
}
body .home_header_inner_left_inner {
  display: none;
}
body .home_hero {
  margin-top: 4.65rem;
  padding-inline: 3.3rem;
  display: none;
  background-color: #000000;
  opacity: 0.6;
}
body .home_hero.show {
  display: block;
}
body .home_hero h6 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
body .home_hero_inner {
  padding-block: 0.5rem;
}
body .home_hero_inner ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .home_hero_inner_right {
  display: none;
}
body .home_hero_inner_left i {
  font-size: 1rem;
}
body .home_hero_inner_left li {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 100;
  list-style: none;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media screen and (min-width: 777px) {
  body .home_header {
    padding-block: 0.75rem;
    position: relative;
  }
  body .home_header_inner_left i {
    border: 1px solid #ffbe34;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.3rem;
  }
  body .home_header_inner_left_switch {
    display: none;
  }
  body .home_header_inner_left_inner {
    display: flex;
    gap: 2rem;
  }
  body .home_header_inner_left_inner_clock_inner_text {
    display: none;
  }
  body .home_header_inner_left_inner_envelope_inner_text {
    display: none;
  }
  body .home_header_inner_left_inner_phone_inner_text {
    display: none;
  }
  body .home_hero {
    margin-top: 0rem;
    padding-inline: 3.3rem;
    display: block;
    background-color: #000000;
    opacity: 0.6;
  }
  body .home_hero h6 {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  }
  body .home_hero_inner {
    padding-block: 0.5rem;
  }
  body .home_hero_inner ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body .home_hero_inner_right {
    display: none;
  }
  body .home_hero_inner_left i {
    font-size: 0.5rem;
  }
  body .home_hero_inner_left ul {
    display: flex;
    gap: 2rem;
  }
  body .home_hero_inner_left h6 {
    color: #ffffff;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: small;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  body .home_hero_inner_left li {
    border-right: 0.00001px solid white;
    padding-inline-end: 1.5rem;
    font-size: medium;
    font-weight: 100;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 100;
    list-style: none;
    cursor: pointer;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body .home_hero_inner_left li:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}
@media screen and (min-width: 992px) {
  body .home_header {
    padding-block: 0.75rem;
    position: relative;
  }
  body .home_header_inner_left i {
    border: 1px solid #ffbe34;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.3rem;
  }
  body .home_header_inner_left_switch {
    display: none;
  }
  body .home_header_inner_left_inner {
    display: flex;
    gap: 2rem;
  }
  body .home_header_inner_left_inner_clock_inner_text {
    display: none;
  }
  body .home_header_inner_left_inner_envelope_inner_text {
    display: none;
  }
  body .home_header_inner_left_inner_phone_inner_text {
    display: none;
  }
  body .home_hero {
    margin-top: 0rem;
    padding-inline: 3.3rem;
    display: block;
    background-color: #000000;
    opacity: 0.6;
  }
  body .home_hero h6 {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  }
  body .home_hero_inner {
    padding-block: 0.5rem;
  }
  body .home_hero_inner ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body .home_hero_inner_right {
    display: none;
  }
  body .home_hero_inner_left ul {
    display: flex;
    gap: 2rem;
  }
  body .home_hero_inner_left h6 {
    color: #ffffff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: small;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  body .home_hero_inner_left li {
    border-right: 0.00001px solid white;
    padding-inline-end: 1.5rem;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 100;
    list-style: none;
    cursor: pointer;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body .home_hero_inner_left li i {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 1030px) {
  body .home_header {
    padding-block: 2rem;
  }
  body .home_header_inner {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
  }
  body .home_header_inner_right {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .home_header_inner_right i {
    font-size: 1.4rem;
    color: #ffbe34;
    margin-inline-end: 0.4rem;
  }
  body .home_header_inner_left_inner_clock_inner {
    display: flex;
    align-items: center;
  }
  body .home_header_inner_left_inner_clock_inner_text {
    display: block;
  }
  body .home_header_inner_left_inner_envelope_inner {
    display: flex;
    align-items: center;
  }
  body .home_header_inner_left_inner_envelope_inner_text {
    display: block;
  }
  body .home_header_inner_left_inner_envelope_inner h6 {
    margin: 0 0 0 0.4rem;
    padding: 0;
    text-align: left;
  }
  body .home_header_inner_left_inner_phone_inner {
    display: flex;
    align-items: center;
  }
  body .home_header_inner_left_inner_phone_inner_text {
    display: block;
  }
  body .home_header_inner_left_inner_phone_inner h6 {
    margin: 0 0 0 0.4rem;
    padding: 0;
    text-align: left;
  }
  body .home_hero {
    padding-inline: 3.3rem;
    background-color: #000000;
    opacity: 0.6;
  }
  body .home_hero i {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
  }
  body .home_hero.enhance {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  body .home_hero_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .home_hero_inner ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  body .home_hero_inner ul li {
    list-style: none;
    cursor: pointer;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body .home_hero_inner_right {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  body .home_hero_inner_right_button button {
    height: 100%;
    margin: 0;
    padding: 1rem;
    border-radius: 0;
    border: none;
  }
}/*# sourceMappingURL=index.css.map */